.hero-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page {
    background-image: url("../../images/hero.jpg");
}

.rooms-page {
    background-image: url("../../redux/rooms/images/room-2.jpeg");
}

.error-page {
    background-image: url("../../images/error.jpg");
}
