.single-room {
    background-color: #d1c5b5;
}

.single-room h3 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    letter-spacing: 3px;
}

.single-room .single-room-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-room .single-room-info h5 {
    font-weight: 600;
    letter-spacing: 3px;
}

.single-room .single-room-images img:first-of-type {
    margin: 3rem 1rem 1rem 1rem;
}

.single-room .single-room-images img {
    width: 250px;
    margin: 1rem;
}

.single-room .single-room-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-room .single-room-details p {
    line-height: 1.7;
    font-weight: 500;
}

.single-room .single-room-details .extras-list {
    list-style-type: none;
    line-height: 1.7;
    font-weight: 500;
    padding-left: unset;
}

.single-room .single-room-details .single-room-info {
    width: 70%;
    margin: 0 5% 5% 5%;
}

@media screen and (min-width: 576px) {
    .single-room .single-room-images img {
        width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .single-room .single-room-images img {
        width: 500px;
    }
}

@media screen and (min-width: 992px) {
    .single-room h3 {
        margin-top: unset;
    }
    .single-room .single-room-images {
        flex-direction: row;
        justify-content: center;
    }
    .single-room .single-room-images img:first-of-type {
        margin: 3rem 1rem;
    }
    .single-room .single-room-images img {
        width: 330px;
        margin: 3rem 1rem;
    }
    .single-room .single-room-details {
        flex-direction: row;
        justify-content: center;
        align-items: unset;
    }
    .single-room .single-room-details p {
        line-height: 1.5;
    }
    .single-room .single-room-details .single-room-info {
        width: 34%;
        margin-bottom: 3rem;
    }
    .single-room .extras-title {
        margin-top: 5%;
    }
}
