.featured-rooms {
    padding: 3rem 1.2rem 3rem 1.2rem;
}

.featured-rooms .featured-rooms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-rooms h1 {
    text-align: center;
    letter-spacing: 5px;
}

.featured-rooms hr {
    width: 15%;
    margin-bottom: 4rem;
    border: 2px solid #af9a7d;
    background-color: #af9a7d;
}

.featured-rooms-link {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.featured-button {
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    background-color: transparent;
    color: #af9a7d;
    border: 3px solid #af9a7d;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 1.3rem;
    cursor: pointer;
    transition: all 0.3s linear;
}
.featured-button:hover {
    background-color: #af9a7d;
    color: #222;
}

@media screen and (min-width: 992px) {
    .featured-rooms {
        padding: 3rem 3rem 0.5rem 3rem;
    }
    .featured-rooms .featured-rooms-container {
        flex-direction: row;
        justify-content: center;
        padding: 4rem 3rem 0 3rem;
    }
    .featured-rooms hr {
        width: 5%;
        margin-bottom: unset;
    }
    .featured-rooms-link {
        margin-bottom: 2rem;
    }
}
