.navbar {
    position: fixed;
    width: 100%;
    padding: 0.5rem 1rem;
    background: white;
    z-index: 999;
}
.nav-header {
    display: flex;
}
.nav-header a {
    text-decoration: none;
    margin-top: 1rem;
}
.nav-header a h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #222;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    border: 2px solid #af9a7d;
    padding: 0.5rem 0.5rem;
}
.nav-header a h1 span {
    color: #af9a7d;
}
.nav-btn {
    margin-left: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.nav-icon {
    font-size: 2rem;
    color: #af9a7d;
}
.nav-links {
    height: 0;
    overflow: hidden;
    list-style-type: none;
}
.nav-links a {
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    color: #222;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
}
.nav-links a:hover {
    color: #af9a7d;
}
.show-nav {
    height: 140px;
}

@media screen and (min-width: 576px) {
    .nav-btn {
        margin-left: 22rem;
    }
}

@media screen and (min-width: 768px) {
    .nav-btn {
        margin-left: 35rem;
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        opacity: 0.5;
    }
    .nav-header a h1 {
        margin-bottom: 0.5rem;
        font-size: 1.8rem;
    }
    .nav-btn {
        display: none;
    }
    .nav-center {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-links {
        height: auto;
        display: flex;
        margin-left: 8rem;
    }
    .nav-links a {
        margin: 0 2rem;
        padding: 0.5rem 0;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 1.1rem;
    }
}
