.footer {
    display: flex;
}

.footer .footer-follow-us {
    width: 50%;
    padding-top: 3%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .footer-follow-us span {
    font-size: 20px;
    font-weight: 600;
    margin: 4%;
}

.footer .footer-follow-us p {
    font-size: 15px;
    margin: 3%;
}

.footer .footer-follow-us .social-icons:hover {
    cursor: pointer;
}

.footer .footer-follow-us input {
    width: 100%;
    height: 35px;
    border: 2px solid #af9a7d;
    outline: none;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 10px;
    box-shadow: 0 6px 6px -6px gray;
}

.footer .footer-follow-us button {
    font-family: 'Raleway', sans-serif;
    background-color: #af9a7d;
    color: white;
    font-size: 18px;
    padding: 2%;
    letter-spacing: 1px;
    border: 2px solid #af9a7d;
    width: 40%;
    margin-top: 4%;
}

.footer .footer-follow-us button:hover {
    background-color: transparent;
    color: #af9a7d;
    cursor: pointer;
}

.footer .footer-address {
    padding-top: 3%;
    padding-bottom: 2%;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .footer-address h1 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 4px;
    border: 2px solid darkslategrey;
    padding: 0.4%;
}

.footer .footer-address span {
    color: #af9a7d;
}

.footer .footer-address div {
    margin-top: 30%;
    font-size: 15px;
    text-transform: uppercase;
}