.footer {
    background-color: #cfcfcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0.5rem;
}

.footer h2 {
    letter-spacing: 3px;
}

.footer p {
    font-weight: 500;
}

.footer .footer-social .footer-icons {
    margin-top: 3rem;
}

.footer .footer-social span {
    font-size: 2.5rem;
    margin: 0.5rem;
    transition: all 0.3s linear;
}

.footer .footer-social svg:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footer-social,
.footer-promotions,
.footer-address {
    width: 80%;
    text-align: center;
}

.footer-promotions input {
    width: 50%;
    height: 35px;
    border: 2px solid #af9a7d;
    outline: none;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 10px;
    box-shadow: 0 6px 6px -6px gray;
    margin-bottom: 1rem;
}

.footer-promotions button {
    font-family: "Raleway", sans-serif;
    background-color: #af9a7d;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    padding: 3%;
    letter-spacing: 1px;
    border: 2px solid #af9a7d;
    width: 30%;
}

.footer-promotions button:hover {
    background-color: transparent;
    color: #af9a7d;
    cursor: pointer;
}

.footer-address span {
    color: #af9a7d;
}

.footer p {
    margin: 3rem 0;
}

@media screen and (min-width: 576px) {
    .footer-promotions button {
        padding: 2%;
    }
}

@media screen and (min-width: 768px) {
    .footer-social,
    .footer-promotions,
    .footer-address {
        width: 70%;
    }

    .footer-promotions button {
        padding: 1.8%;
    }
}

@media screen and (min-width: 992px) {
    .footer {
        flex-direction: row;
        align-items: unset;
        justify-content: center;
        padding: 2rem 1rem 1rem 1rem;
    }
    .footer .footer-social .footer-icons {
        margin-top: 2rem;
    }
    .footer-social,
    .footer-promotions,
    .footer-address {
        width: 30%;
    }
    .footer-promotions input {
        width: 60%;
        margin-bottom: unset;
    }
    .footer-promotions button {
        font-size: 13px;
        padding: 3%;
        width: 31%;
    }
    .footer p {
        margin: 2rem 0;
    }
}
