.banner {
    width: 80%;
    background: rgba(36, 36, 36, 0.7);
    color: #fff;
    padding: 1.3rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.5rem;
}

.banner h1 {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 6px;
}

.banner hr {
    width: 15%;
    border: 2px solid #af9a7d;
    background-color: #af9a7d;
}

.banner p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 3px;
}

.banner .banner-link {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #af9a7d;
    color: #222;
    border: 3px solid #af9a7d;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 1.3rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

.banner .banner-link:hover {
    background-color: transparent;
    color: #af9a7d;
}

@media screen and (min-width: 992px) {
    .banner {
        width: auto;
        padding: 1.5rem 5rem;
        margin-top: 2.5rem;
    }
    .banner h1 {
        font-size: 3rem;
        letter-spacing: 8px;
    }
    .banner hr {
        width: 45%;
    }
    .banner p {
        font-size: 1.2rem;
    }
}
